alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

alias mkdir="mkdir -pv"

alias config='/usr/bin/git --git-dir=$HOME/.config_repo/ --work-tree=$HOME'

alias vim="nvim"

alias ls='ls --color=auto'
alias grep='grep --color=auto'
